<link href="stylesheets/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" rel=preload>
<link href="stylesheets/container.css" rel="stylesheet" rel=preload>
<script src="javascripts/bootstrap.min.js" rel=preload></script >
<script src="javascripts/jquery-3.3.1.min.js" rel=preload></script>


<div class="container">
    <div class="row">
        <div class="panel panel-default container_panel">
            <div class="panel-heading">
                <h3 class="panel-title">{{container.title}}</h3>
            </div>
            {{{body}}}
        </div>

    </div>
</div>